<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/style.css}" />
</head>
<body>

ユーザー登録
<form th:action="@{/exam04/input}" 
	th:object="${userForm}" method="post">
	
		<div th:errors="*{name}" class="error-messages">エラー！</div>
		名前：<input type="text" name="name" 
			th:field="*{name}" th:errorclass="error-input"><br>
			
		<div th:errors="*{age}" class="error-messages">エラー！</div>
		年齢：<input type="text" name="age"
			th:field="*{age}" th:errorclass="error-input"><br>

		<br>
		<div th:errors="*{comment}" class="error-messages">エラー！</div>
		コメント： <br>
		<textarea name="comment" 
			th:field="*{comment}" th:errorclass="error-input" 
			rows="5" cols="40">
		</textarea>
		
		<br><br>
		<input type="submit" value="登録">

</form>
</body>
</html>